body {
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    margin: 0;
}

::selection {
  background-color: #dcff3c;
  color: #000;
}

  .img-header {
    width: 100%;
    height: 10%;
  }

  .projeto-titulo {
    position: absolute;
    font-family: 'helvetica', arial;
    font-size: 11.25rem;
    font-weight: 400;
    letter-spacing: -0.5rem;

    padding-left: 5rem;
    top: 50%;
  }

  .texto {
    display: flex;
    justify-content: baseline;
    padding: 13.12rem;
    gap: 0 9.37rem;
  }

  .paragrafo {
    font-family: 'helvetica', arial;
    font-size: 2.3rem;
    font-weight: 400;
    width: 40.5vw;
    letter-spacing: -2.22px;
    word-break: break-word;
  }

  .texto-direita {
    font-family: 'helvetica', arial;
    font-size: 6rem;
    font-weight: 400;
  }

  .main-video {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .video-projeto {
    width: 70vw;
    height: 85vh;
    display: flex;
  }

  .creditos-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .creditos {
    color: #FFF;
    font-family: 'helvetica', arial;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.22px;
    margin: 80px;
  }

  .conteudo-off {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 13rem; */
    gap: 120px;
    margin: 0;
  }

  .texto-off {
    position: relative;
    color: #FFF;
    font-family: 'helvetica', arial;
    font-size: 7.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 7rem;
    letter-spacing: -2px;
    left: 8rem;

    width: 48vw;
  }

  span {
    color: #dcff3c;
  }

  .stiker {
    width: 15vw;
    height: 20vh;
    position: relative;
    right: -2rem;
    top: -5rem;
    rotate: -10deg;
    z-index: 2;
  }

  .story {
    position: relative;
    width: 25vw;
    height: 90vh;
    flex-shrink: 0;
    right: 8rem;
  }

  @media screen and (max-width: 768px) {
  
    .projeto-titulo {
      font-size: 5rem;
      top: 18rem;
    }

    .texto {
      display: block;
      padding: 2.5rem;
    }

    .paragrafo {
      font-size: 1.5rem;
      width: 80vw;
    }

    .video-projeto {
      width: 100vw;
      height: 30vh;
    }

    .creditos {
      padding: 3rem;
    }

    .conteudo-off {
      display: block;
      padding: 0;
    }

    .texto-off {
      position: inherit;
      font-size: 4rem;
      line-height: 3.5rem;
      margin: 0;
      padding: 3rem 5rem;
      width: 80vw;
    }

    .story {
      padding: 3rem 5rem;
      width: 70vw;
      margin: 0;
    }

    .stiker {
      width: 25vw;
      height: 10vh;
      right: 0;
      left: 1rem;
      top: 5rem;
    }
  }


