body {
    background-color: #000;
}

.scroll {
    height: 25vh;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-marquee {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    top: 5rem;
}

.text-single {
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    will-change: transform;
}

.text {
    padding: 0;
    font-size: 10rem;
    display: inline-block;
    margin-right: 2rem;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    color: #dcff3c;
}
