body {
    background-color: #000;
}

::selection {
    background-color: #dcff3c;
    color: #000;
  }

canvas {
  width: 50%;
  height: 50%;
  position: relative;
  left: -15%;
  top: -80px;
}

.container3D {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    width: 600px;
    margin: auto;
    padding: 40px 20px;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 10px;
  }

  .contato-titulo {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .linhaBox {
    position: relative;
    top: -55px;
    left: -20px;
    width: 640px;
    height: 1px;
    background: #fff;
  }

  .chamadaContato {
    font-family: 'helvetica', sans-serif;
    font-style: italic;
    font-size: 30px;
    letter-spacing: -1.8px;
    color: #dcff3c;
  }

  .smileContato {
    width: 60px;
    height: 60px;
  }

  .contact-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .label {
    position: relative;
    top: -30px;
    color: #fff;
    font-family: 'helvetica', sans-serif;
    font-size: 20px;
    font-style: italic;
    letter-spacing: -1.2px;
    font-weight: 400;
    padding: 20px 0;
  }

  .linhaForm {
    position: relative;
    top: -40px;
    left: -20px;
    width: 640px;
    height: 1px;
    background: #fff;
    margin: 20px 0;
  }

  .linhaBotao {
    position: relative;
    /* top: 20px; */
    left: -20px;
    width: 640px;
    height: 1px;
    background: #fff;
    margin: 20px 0;
  }

  
  form label {
    display: flex;
    align-items: baseline;
    margin-bottom: 5px;
    margin: 0;
    padding: 0;
  }

  form input[type="text"],
  form input[type="email"],
  form textarea,
  form select {
    width: 100%x;
    /* padding: 30px 0; */
    border: none;
    background-color: #000;
  }
  
  input:focus,
  textarea:focus {
    color: #dcff3c;
    outline: none;
    border-bottom: 1px solid #dcff3c;
  }

  form select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #000;
    color: #dcff3c;
  }
  
  form button {
    display: flex;
    align-items: end;
    background: none;
    color: #dcff3c;
    /* margin: 20px; */
    padding: 30px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    letter-spacing: -1.2px;
    justify-content: end;
  }
  
  form button:hover {
    color: #fff;
  }
