footer {
  height: 50vw;
} 

.contato {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  flex-direction: column;
  font-family: 'helvetica', arial;

  margin-top: 10vw;
}

/* .titulo-contato {

  line-height: 53px;
  font-size: 43px;
}  */

.botao-contato {
  /* estilo do texto */
 color: #FFF;
 text-align: center;
 font-size: 20px;
 font-family: 'helvetica', arial;

  /* borda do botao  */
 width: 250px;
 height: 70px;
 flex-shrink: 0;
 border-radius: 20px;
 border: 2px solid #adff2f;
 background: rgba(217, 217, 217, 0.00);
 cursor: pointer;

}

.botao-contato:hover {

  width: 270px;
  height: 70px;

  font-size: 25px;
  text-transform: uppercase;
}