footer {
  width: 100%;
  height: 100%;
}

* {
  color: #FFF;
  text-decoration: none;
  font-family: 'helvetica', sans-serif;
}

.email-container {
    display: flex;
    align-items: start;
    margin: 5rem;
  }
  
  .email {
    color: #FFF;
    font-family: 'helvetica', arial;
    font-style: normal;
    font-weight: 400;
    line-height: 3.8rem;
  }
  
  .paragrafo-contato {
    font-size: 3rem;
    letter-spacing: -0.2vw;
  }
  
  .email-link {
    font-size: 6rem;
    letter-spacing: -0.3vw;
    text-decoration-line: underline;
    color: #FFF;
    transition: color 0.25s ease;
  }
  
  .email-link:hover {
    color: #dcff3c;
  }
  
  .localidade {
    color: #fff;
    font-family: 'helvetica', arial;
    font-style: normal;
    font-weight: 400;
    line-height: 3.8rem;
   
    position: absolute;
    right: 5rem;
  }

  .pais {
    font-size: 3.5rem;
    letter-spacing: -0.3rem;
  }

  .estado {
    font-size: 3.5rem;
    letter-spacing: -0.3rem;
  }
  
  .linha {
    display: flex;
    height: 0.125rem;
    margin: 0 5rem 0 5rem;
    background: #FFF;
  }
  
  .redes-container {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    flex-flow: nowrap;
  
  }
  
  
  .frase {
    font-family: 'helvetica', arial;
    font-size: 1.56rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1.38px;
    margin: 5rem;
  }
  
  .redes {
    display: flex;
    align-items:end;
    margin-left: 50%;
    margin-top: 5rem;
    gap: 2.5rem;
  
    font-size: 1.43rem;
    font-family: 'helvetica', arial;
    font-weight: 400;
    letter-spacing: -1.38px;
    text-decoration: underline #fff;
    text-transform: uppercase;
    
    position: absolute;
    right: 5rem;
  
  }
  
  .instagram {
    text-decoration: none;
    color: #fff;
    transition: color 0.25s ease;
  }
  
  .instagram:hover {
    color: #dcff3c;
    text-decoration: underline #dcff3c;
  }

  .linkedin {
    text-decoration: none;
    color: #fff;
    transition: color 0.25s ease;
  }
  
  .linkedin:hover {
    color: #dcff3c;
    text-decoration: underline #dcff3c;
  }

  @media screen and (max-width: 768px) {
    .email-container {
      margin: 0;
      padding-top: 3rem;
      align-items: center;
    }

    .email {
      line-height: 1.5rem;
      margin: 0 1.5rem;
    }

    .paragrafo-contato {
      font-size: 1rem;
      margin: 0;
    }

    .email-link {
      font-size: 1.5rem;
      color: #dcff3c;
    }

    .localidade {
      right: 0;
    }

    .pais, 
    .estado {
      font-size: 1.3rem;
      letter-spacing: -0.1rem;
      margin: 1rem;
      line-height: 0.45rem;
    }

    .linha {
      position: relative;
      top: 1.5rem;
      width: 90vw;
      margin: 0 1.5rem;
    }

    .redes-container {
      padding: 0;
      align-items: start;
    }

    .redes {
      display: block;
      margin: 0;
      padding: 3.1rem 0;
      width: 40vw;
      right: -3rem;
      line-height: 1.5rem;
      font-size: 1.2rem;
    }

    .frase {
      font-size: 1rem;
      margin: 0;
      padding: 3.2rem 1.5rem;
      letter-spacing: 0;
    }

    .instagram,
    .linkedin {
      color: #dcff3c;
      text-decoration: underline #dcff3c;
    }
  }