.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  
  .logo-header {
    width: 10rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 0;
  }
