.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;

    top: -2vh;
    margin-bottom: 10vh;
  }
  
  .logo-header {
    width: clamp(5rem, 40vw, 10rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
  }