*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #0F0E0E;
    font-family: 'Oswald', sans-serif;
  }
  
  h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    line-height: 0.9;
  }
  
    h1{
      margin-bottom: 3rem;
      font-size: 10vw;
      color: #FFF;
    }
    hr{ transform-origin: top left; }
    
    .heading-line-wrapper{ overflow: hidden; }


  .image-grid{
    display: flex;
    flex-wrap: wrap;
    padding: 4rem, 0;
    width: 100%;
    min-height: 100vh;
  }
  
  .image-card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
    border-radius: 0;
    transition: border-radius 0.75s cubic-bezier(0.65, 0, 0.35, 1);
    overflow: hidden;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    
    &.image-portrait{
      margin-left: 10vw;
      width: 20vw;
      height: 30vw;    
    }
    
    &.image-landscape{
      margin-left: 10vw;
      width: 30vw;
      height: 30vw;
    }
    
    &:hover{
      border-radius: 12rem;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      
      .image-header{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
    }
    
    .image-header,
    .image-caption{
      color: #FFF;
    }
    
    .image-header{
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.2);
      font-size: 4vw;
      /* color: #FFF; */
      text-transform: uppercase;
      line-height: 1;
      opacity: 0;
      transition: all 0.85s cubic-bezier(0.65, 0, 0.35, 1);
      pointer-events: none;
      /* writing-mode: vertical-rl; */
    }

    /* .renner {
      color: #CB3737;
      text-shadow:
        2px 2px 0 #EE6F57,
        4px 4px 0 #E3E3E3;
    }
    .termolar {
      color: #E4DCCF;
      text-shadow:
        2px 2px 0 #EA5455,
        4px 4px 0 #002B5B;
    }
    .barra {
      color: #5D3891;
      text-shadow:
        2px 2px 0 #F99417,
        4px 4px 0 #E8E2E2;
    }
    .namorados {
      color: #FF8FB1;
      text-shadow:
        2px 2px 0 #7A4495,
        4px 4px 0 #FCE2DB;
    } */
    
    img{
      display: block;
      width: 150%;
      object-fit: cover;
    }
  }
  
  
  