.projetos {
    padding: 5vw;
    font-family: 'helvetica', arial;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.data {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;

}

.titulo {
    margin-bottom: 50px;
    font-size: 80px;
}

.img-principal {

    position: relative;

    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 50vw;
    height: 30vw;

    border-radius: 5%;
    
    
}


.img-2, .img-3, .img-4 {

    position: relative;

    width: 340px;
    height: 300px;

    border-radius: 5%;
}

.img-2 {
    margin-left: 45%;
}

