
html {
  background-color: #000;
  font-family: 'helvetica', arial;
  overflow-x: hidden;
}

h1, h2, p {
  color: #fff;
}

::selection {
background-color: #dcff3c;
color: #000;
}


div.logo {
  margin: 0;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0;
}

.logo-header {
  width: 93.75vw;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.18rem;
  margin-right: 0;
}

video {
  width: 100vw;
  height: 100%;

  display: flex;
  justify-content: end;
  margin: 0;
  
}


.video-projeto  {
  margin-bottom: 50px;
}

.gallery {
text-align: center;
/* padding: 20px; */
width: 100%;
}

.linhaProjetos {
  width: 100%;
  height: 1px;
  background: #FFF;
}

.filter-buttons-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 1.25rem;
width: 100%;
}

.filter-button {
padding: 10px 20px;
font-size: 1.4rem;
font-family: 'helvetica', arial;
color: #fff;
background-color: transparent;
border: none;
cursor: pointer;
margin: 5px;
transition: color 0.25s ease;
}

.filter-button:hover {
  color: #dcff3c;
}

.filter-button.active {
color: #dcff3c;
}

.image-container {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
flex-direction: row;
padding-top: 80px;

width: 100%;
height: 100%;

gap: 60px 50px;
}

.image-container img {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;

  
  
}

.frames {
  /* width: min-content; */
}

.info {
/* display: flex; */


}

.job {
color: #FFF;
font-family: 'helvetica', arial;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
letter-spacing: -2.22px;
line-height: 40px;
margin: 0;

text-align: justify;
text-justify: auto;
}

.botao-container {
  display: flex;
  align-items: center;
  gap: 25rem;
}

.botao,
.botao2 {
  font-family: 'helvetica', arial;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.25s ease;

  border: 2px solid #fff;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  width: 120px;
}

.botao:hover,
.botao:hover {
  color: #dcff3c;
  border: 2px solid #dcff3c;
}

.videoContainer {
  padding:0 0 0 0;
  position:relative;
  width: min-content;
  height: 400px;
}

iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  cursor: pointer;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {

.videoContainer {
    left: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    
  }

  .linhaProjetos {
    width: auto;
    margin: 0;
  }

iframe {
  width: 50%;
  height: 50%;
  border-radius: 10px;
}

.video-projeto {
  position: relative;
  top: -1.5rem;
  margin: 0;
}

.botao-container {
  gap: 80px;
  position: relative;
  top: -180px;
  left: 28%;
}

.botao {
  margin: 0;
  color: #dcff3c;
  border-color: #dcff3c;
}

.job {
  font-size: 20px;
  letter-spacing: -1px;
}

}