@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Anton&family=Bebas+Neue&family=Jost:ital,wght@1,600&family=Lexend:wght@700&family=Nova+Oval&family=Oswald:wght@500&family=PT+Serif:wght@700&family=Titillium+Web&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

:root {
  --font1: 'helvetica', arial;
  /* --fontSizeMenu: 1vw;
  --fontSizeH1: 10vw;
  --fontSizeIntro: 3vw;
  --fontSizeP: 1.48vw;
  --maxWidth: 1100px; */
  --corte: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
}

body {
  background-color: #000;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

::selection {
  background-color: #dcff3c;
  color: #000;
}

.texto-principal {
  color: #dcff3c;
  position: absolute;
  font-family: 'helvetica', arial;
  font-style: italic;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: clamp(30px, 2.5vw, 75px);
  font-weight: 400;
  line-height: 4vh;
  letter-spacing: -0.15vw;

  z-index: 5;
  width: 90%;

}

.texto-span {
  color: #dcff3c;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 50%;
  width: calc(100% - 80px);
  justify-content: space-between;
  margin: 40px 0;
  transform: translatex(-50%);
}

.menu__right {
  width: 50px;
  height: 50px;
  gap: 5px;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
}

.menu__right div {
  width: 50%;
  height: 2px;
  background-color: #000;
}

.intro {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  font-size: var(--fontSizeIntro);
  transform-origin: top;
}

.intro__green {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: #dcff3c;
  font-family: var(--font1);
  font-size: 30vw;
  font-weight: 900;
  line-height: 30vh;
  overflow: hidden;
  color: transparent;
  text-align: center;
  -webkit-text-stroke: 1px #000;
  transform: scaleY(0);
  transform-origin: bottom;
}

.intro__green div {
  transform: scaleX(0.5) scaleY(1.5);
  letter-spacing: -1vw;
}

.clip {
  margin: 0 auto;
  position: relative;
  display: flex;
  top: -13.7vh;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: clamp(400px, 35vw, 800px);
}

.texto-principal{
  margin: -3vh;
}

.clip__bg {
  margin: 0 auto;
  position: relative;
  display: flex;
  width: 90vw;
  height: clamp(400px, 35vw, 800px);
  object-fit: cover;
  clip-path: var(--corte);
  overflow: hidden;
  z-index: 3;
}

.noise {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-image: url("https://www.paulrogerdev.fr/codepen/noise.png"); 
  animation: 2s steps(1) infinite noise;
}

@keyframes noise {
  0%, 100% {
      background-position: 0 0;
  }

  10% {
      background-position: -5% -10%;
  }

  20% {
      background-position: -15% 5%;
  }

  30% {
      background-position: 7% -25%;
  }

  40% {
      background-position: 20% 25%;
  }

  50% {
      background-position: -25% 10%;
  }

  60% {
      background-position: 15% 5%;
  }

  70% {
      background-position: 0% 15%;
  }

  80% {
      background-position: 25% 35%;
  }

  90% {
      background-position: -10% 10%;
  }
}

@media (min-width: 1550px) {
  :root {
    --fontSizeMenu: 16px;
    --fontSizeP: 16px;
  }
}

@media (max-width: 1000px) {
  .intro__green div {
    transform: scaleY(4);
  }
}

@media (max-width: 600px) {
  :root {
    --fontSizeMenu: 11px;
    --fontSizeP: 11px;
  }
  .menu {
    width: 90vw;
    margin: 4vw 0;
  }
  .menu ul {
    gap: 0 2vw;
  }
}


.texto-home {
  color: #fff;
  text-align: center;
  margin: 0 15vw;
  z-index: 100;

}


.container_titulo {
  font-family: 'helvetica', arial;
  font-weight: 400;
  font-size: 6vw;
  letter-spacing: -0.3vw;
  text-transform: lowercase;
  margin: 0;
}

.titulo-span {
  color: #dcff3c;
}

.paragrafo {
  font-size: 2vw;
  text-align: center;
  line-height: 2.5vw;
  font-family: 'helvetica', arial;
  letter-spacing: -0.1vw;
}


.coluna-esquerda {
  position: relative;
  
  margin-left: -90%;
  width: 100%;
  height: 800px;
  flex-shrink: 0;
  clip-path: var(--corte);

  background: linear-gradient(to top, #FFA100, #ABFC00, #00CE85 );
}

.coluna-direita {
  position: relative;
  
  margin-left: 90%;
  width: 100%;
  height: 800px;
  flex-shrink: 0;
  clip-path: var(--corte);

  background: linear-gradient(to top, #FFA100, #ABFC00, #00CE85 );
}

.botao {
   /* estilo do texto */
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-family: 'helvetica', arial;

   /* borda do botao  */
  width: 400px;
  height: 70px;
  flex-shrink: 0;
  border: 2px solid #FFF;
  background: #000;
  cursor: pointer;


}

/* PROJETOS */

.projetos {
  padding: 5vw;
  font-family: 'helvetica', arial;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.data {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;

}

.titulo {
  margin: 0;
  padding: 0 0 20px;
  font-size: 80px;
}

.img-principal {

  position: relative;

  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  width: 50vw;
  height: 30vw;

  clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
  
  
}


.img-2, .img-3, .img-4 {

  position: relative;

  width: 340px;
  height: 300px;

  border-radius: 5%;
}

.img-2 {
  margin-left: 45%;
}

/* FIM DOS PROJETOS */

@media screen and (max-width:768px) {
  
}