/* Estilizando a classe .scroll */


/* Estilizando a classe .text-marquee */
.text-marquee {
  position: relative; /* Posição relativa para conter os elementos filhos absolutos */
  display: flex; /* Exibição como flex */
  align-items: center; /* Centralizar verticalmente os itens */
  overflow-x: hidden; /* Ocultar conteúdo que transborda horizontalmente */
}

/* Estilizando a classe .text-single */
.text-single {
  position: relative; /* Posição relativa para controlar os elementos filhos absolutos */
  white-space: nowrap; /* Impedir que o texto quebre em várias linhas */
  padding: 0; /* Remover o preenchimento */
  margin: 0; /* Remover as margens */
  will-change: transform; /* Informação de otimização para acelerar animações */
}

/* Estilizando a classe .text */
.text {
  color: #fff;
  padding: 90px 40px; /* Remover o preenchimento */
  font-size: 6.4rem; /* Tamanho da fonte de 6.4 rem */
  display: inline-block; /* Exibição como inline-block (para permitir margin-right) */
   /* Margem à direita de 2 rem */
  font-family: arial; /* Família da fonte arial */
  font-weight: bold; /* Peso da fonte em negrito */
}
