/* Estilizando a classe .scroll


/* Estilizando a classe .text-marquee */
.text-marquee {
   position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  padding: 100px 0;
  top: -55px;
}




